In [7]:
import pandas as pd
#data = pd.read_csv('C:/Users/Professional/Downloads/marvel-wikia-data.csv')
data = pd.read_excel('C:/Users/Professional/Downloads/MarvelComicCaracters.xlsx')
data.head()

,name,align,eye,hair,sex,appearances,first_appearance
0,Spider-Man (Peter Parker),Добрый персонаж,Карие глаза,Каштановые волосы,Мужской персонаж,4043.0,1962.0
1,Captain America (Steven Rogers),Добрый персонаж,Голубые глаза,Белые волосы,Мужской персонаж,3360.0,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Нейтральный персонаж,Голубые глаза,Черные волосы,Мужской персонаж,3061.0,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Добрый персонаж,Голубые глаза,Черные волосы,Мужской персонаж,2961.0,1963.0
4,Thor (Thor Odinson),Добрый персонаж,Голубые глаза,Русые волосы,Мужской персонаж,2258.0,1950.0

In [10]:
data['align'].value_counts()

Злой персонаж           6720
Добрый персонаж         4636
Нейтральный персонаж    2208
Name: align, dtype: int64

In [16]:
data[data['sex'] == 'Мужской персонаж']['eye'].value_counts()

Темно-карие глаза        1400
Голубые глаза            1258
Черные глаза              394
Красные глаза             377
Зеленые глаза             328
Белые глаза               292
Желтые глаза              174
Серые глаза                75
Карие глаза                58
Разноцветные глаза         28
Один глаз                  20
Оранжевые глаза            18
Розовые глаза              15
Фиолетовые глаза           15
Золотые глаза              10
Янтарные глаза              8
Много глаз                  6
Серебристые глаза           4
Желтые глазные яблоки       4
Нет глаз                    3
Лиловые глаза               3
Черные глазные яблоки       1
Фасеточные глаза            1
Name: eye, dtype: int64

In [17]:
data[data['sex'] == 'Женский персонаж']['eye'].value_counts()

Голубые глаза            692
Темно-карие глаза        519
Зеленые глаза            268
Черные глаза             137
Белые глаза               82
Красные глаза             77
Желтые глаза              57
Серые глаза               20
Карие глаза               17
Фиолетовые глаза          14
Лиловые глаза              8
Разноцветные глаза         7
Серебристые глаза          6
Розовые глаза              5
Оранжевые глаза            5
Золотые глаза              3
Янтарные глаза             2
Желтые глазные яблоки      2
Черные глазные яблоки      2
Пурпурные глаза            2
Нет глаз                   1
Много глаз                 1
Один глаз                  1
Name: eye, dtype: int64

In [21]:
data[(data['align'] == 'Добрый персонаж') & (data['eye'] == 'Пурпурные глаза')]['appearances']

1729    21.0
Name: appearances, dtype: float64

In [22]:
data['first_appearance'].value_counts()

1993.0    554
1994.0    485
1992.0    455
2006.0    381
2008.0    360
         ...
1952.0     26
1956.0     16
1957.0      7
1959.0      4
1958.0      2
Name: first_appearance, Length: 75, dtype: int64

In [27]:
data[(data['sex'] == 'Мужской персонаж') & (data['appearances'] > 100)].shape[0]

277

In [ ]:
data